<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderLine">
    <resultMap id="FullMap" type="OrderLine">
        <id column="id" property="id"/>
        <result column="out_id" property="outId"/>
        <result column="order_id" property="orderId"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="buyer_name" property="buyerName"/>
        <result column="shop_id" property="shopId"/>
        <result column="shop_name" property="shopName"/>
        <result column="item_id" property="itemId"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="item_image" property="itemImage"/>
        <result column="item_attr" property="itemAttr"/>
        <result column="quantity" property="quantity"/>
        <result column="paid_amount" property="paidAmount"/>
        <result column="confirm_at" property="confirmAt"/>
        <result column="receive_status" property="receiveStatus"/>
        <result column="extra_json" property="extraJson"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <sql id="tb">order_line</sql>
    <sql id="cols_all">id,
        <include refid="cols_exclude_id"/>
    </sql>
    <sql id="cols_exclude_id">out_id,order_id,buyer_id,buyer_name,shop_id,shop_name,item_id,item_code,item_name,item_image,item_attr,quantity,paid_amount,confirm_at,receive_status,extra_json,status,created_at,updated_at</sql>
    <sql id="vals">#{outId},#{orderId},#{buyerId},#{buyerName},#{shopId},#{shopName},#{itemId},#{itemCode},#{itemName},#{itemImage},#{itemAttr},#{quantity},#{paidAmount},#{confirmAt},#{receiveStatus},#{extraJson},#{status},now(),now()</sql>
    <sql id="listVals">#{item.outId},#{item.orderId},#{item.buyerId},#{item.buyerName},#{item.shopId},#{item.shopName},#{item.itemId},#{item.itemCode},#{item.itemName},#{item.itemImage},#{item.itemAttr},#{item.quantity},#{item.paidAmount},#{item.confirmAt},#{item.receiveStatus},#{item.extraJson},#{item.status},now(),now()</sql>
    <sql id="criteria">
        <if test="outId != null">AND out_id = #{outId}</if>
        <if test="orderId != null">AND order_id = #{orderId}</if>
        <if test="buyerId != null">AND buyer_id = #{buyerId}</if>
        <if test="buyerName != null">AND buyer_name = #{buyerName}</if>
        <if test="shopId != null">AND shop_id = #{shopId}</if>
        <if test="shopName != null">AND shop_name = #{shopName}</if>
        <if test="itemId != null">AND item_id = #{itemId}</if>
        <if test="itemCode != null">AND item_code = #{itemCode}</if>
        <if test="itemName != null">AND item_name = #{itemName}</if>
        <if test="itemImage != null">AND item_image = #{itemImage}</if>
        <if test="itemAttr != null">AND item_attr = #{itemAttr}</if>
        <if test="quantity != null">AND quantity = #{quantity}</if>
        <if test="paidAmount != null">AND paid_amount = #{paidAmount}</if>
        <if test="confirmAt != null">AND confirm_at = #{confirmAt}</if>
        <if test="receiveStatus != null">AND receive_status = #{receiveStatus}</if>
        <if test="extraJson != null">AND extra_json = #{extraJson}</if>
        <if test="status != null">AND status = #{status}</if>
        <if test="createdAt != null">AND created_at = #{createdAt}</if>
        <if test="updatedAt != null">AND updated_at = #{updatedAt}</if>
    </sql>
    <sql id="paging">
        <if test="offset != null">LIMIT #{offset},#{limit}</if>
    </sql>
    <insert id="save" keyProperty="id" parameterType="OrderLine" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb"/>
        (<include refid="cols_exclude_id"/>) VALUES (<include refid="vals"/>)
    </insert>
    <insert id="saves" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb"/>
        (<include refid="cols_exclude_id"/>) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (<include refid="listVals"/>)
        </foreach>
    </insert>
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM
        <include refid="tb"/>
        WHERE id = #{id}
    </delete>
    <delete id="removes" parameterType="java.util.List">
        DELETE FROM
        <include refid="tb"/>
        WHERE
        <foreach collection="list" item="ids" separator="OR">
            id = #{ids}
        </foreach>
    </delete>
    <update id="update" parameterType="OrderLine">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="outId != null">out_id = #{outId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="buyerId != null">buyer_id = #{buyerId},</if>
            <if test="buyerName != null">buyer_name = #{buyerName},</if>
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="shopName != null">shop_name = #{shopName},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="itemImage != null">item_image = #{itemImage},</if>
            <if test="itemAttr != null">item_attr = #{itemAttr},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="paidAmount != null">paid_amount = #{paidAmount},</if>
            <if test="confirmAt != null">confirm_at = #{confirmAt},</if>
            <if test="receiveStatus != null">receive_status = #{receiveStatus},</if>
            <if test="extraJson != null">extra_json = #{extraJson},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>updated_at=now()
        </set>
        WHERE id=#{id}
    </update>
    <select id="fetch" parameterType="java.lang.Long" resultMap="FullMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id = #{id}
    </select>
    <select id="fetchByIds" parameterType="java.util.List" resultMap="FullMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="listAll" resultMap="FullMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
    </select>
    <select id="listCriteria" parameterType="java.util.Map" resultMap="FullMap">SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE TRUE
        <include refid="criteria"/>
        ORDER BY id DESC
        <include refid="paging"/>
    </select>
    <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1)
        FROM
        <include refid="tb"/>
        WHERE TRUE
        <include refid="criteria"/>
    </select>
</mapper>
